<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.listen_to_me.mapper.CommentMapper">

    <select id="selectTopPage" resultType="com.github.listen_to_me.domain.vo.CommentVO">
        select c.*, u.nickname, u.avatar
        from comments c
        left outer join sys_user u on c.user_id = u.id
        where c.parent_id = 0
        and c.audio_id = #{audioId}
        order by c.create_time desc
    </select>
    <select id="selectReplyComments" resultType="com.github.listen_to_me.domain.vo.CommentVO">
        select c.*, u.nickname, u.avatar
        from comments c
        left outer join sys_user u on c.user_id = u.id
        where c.audio_id = #{audioId}
        <if test="topCommentIds != null and topCommentIds.size > 0">
            and c.id not in
            <foreach collection="topCommentIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        order by c.create_time desc
    </select>
</mapper>
